@import "common_variables";

.dashboards {
  .client {
    position: relative;
    overflow: scroll;
    border: 2px solid $lightest_gray;
    border-radius: $default_radius;
    margin: 10px 0;
    padding: 15px 18px;
    .redirect_uri {
      font-size: .8em;
    }
    .authorize {
      ul li {
        display: inline-block;
      }
    }
    .destroy {
      position: absolute;
      bottom: 15px;
      right: 18px;
      text-align: right;
      a {
        color: $dark_red;
        &:hover {
          color: $red;
        }
      }
    }
  }
  .help {
    background: $lighter_gray;
    border-radius: $default_radius;
    margin-top: 30px;
    padding: 15px 18px;
  }
}