<footer class="page_footer">
  <%= link_to 'logout'.t, session_path, method: :delete if authenticated? %>
  <ul>
    <li>
      <p><small>&copy; <%= link_to 'nov matake', 'http://github.com/nov'%></small></p>
    </li>
  </ul>
</footer>